---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="ZoeNet - Servicio de Internet Fibra Optica/Radio, Residencial y Coorporatiov"
  description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
  <main class="py-16 px-4 text-3xl">Hola desde index</main>
</Layout>
