---
import ThemeToggle from "./ThemeToggle.astro"
const navItems = [
    {
        title: "Planes",
        label: "planes",
        url: "/planes",
    },
    {
        title: "Pagos",
        label: "pagos",
        url: "/pagos",
    },
    {
        title: "Cobertura",
        label: "cobertura",
        url: "/cobertura",
    },
    {
        title: "Contáctenos",
        label: "contactenos",
        url: "/contactenos",
    },
    {
        title: "Terminos",
        label: "terminos",
        url: "/terminos",
    },

]
---

<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="flex justify-between items-center w-full max-w-[80%]">
        <div>
            Logo
        </div>
        {
            navItems.map((link) => (
              <a
                class="relative block px-2 py-2 transition hover:text-yellow-500 dark:hover:text-yellow-400"
                aria-label={link.label}
                href={link.url}
              >
                {link.title}
              </a>
            ))
          }
    </nav>
    <!-- <ThemeToggle /> -->
</header>