---
import Optical from "./icons/Optical.astro";
import Radio from "./icons/Radio.astro";
import Tv from "./icons/Tv.astro";
import Tvinternet from "./icons/Tv.astro";
---

<div class="mt-20 grid grid-cols-3 gap-4 justify-items-center">
  <div class="flex flex-col items-center text-center">
    <Optical id="optical" class="" />
    Alta Velocidad Fibra Optica
  </div>
  <div class="mx-auto">
    <Radio id="optical" class="mx-auto" />
    Internet Radio Frecuencia
  </div>
  <div>
    <Tv id="optical" class="" />
    PlayTv Zoenet
  </div>
<div>
    <Tvinternet id="optical" class="" />
    PlayTv Zoenet
  </div>
</div>
