---
---
<div class="mt-20 flex">
    <div><img src="" alt="Fibra optica"></div>
    <div><img src="" alt="Internet Radio Frecuencia"></div>
    <div><img src="" alt="PlayTv ZoeNet"></div>
    <div><img src="" alt="Internet + PlayTv ZoeNet"></div>
    <div><img src="" alt="Conoce Nuestra Cobertura"></div>
    <div><img src="" alt="Pagos"></div>
</div>